/**
 * Web Application Prefix Apply For Making Owner Styles
 */
/**
 *   Blocks Layout Selectors 
 */
/**
 * Product Item Selectors
 */
/***********************************************************************/
/**
* Transition-timing-function property@mixin 
*/
/*background RGBA
============================================*/
/****/
/* RIGHT TO LEFT */
/** CHECKOUT BY STEP */
/*  
 * LAYOUT VARIABLES 
 */
/******************************************************************
					Sitemap Page Styles
*******************************************************************/
#sitemap .sitemap_block li {
  line-height: 16px;
  padding-bottom: 11px;
}
#sitemap .sitemap_block li a:before {
  content: "\f105";
  display: inline-block;
  font-family: "FontAwesome";
  padding-right: 10px;
}
.rtl #sitemap .sitemap_block li a:before {
  padding-left: 10px;
  padding-right: inherit;
}

#listpage_content ul.tree {
  padding-left: 24px;
}
#listpage_content ul.tree li {
  margin: 0 0 0 21px;
  padding: 5px 0 0 33px;
  border-left: 1px solid #eeeeee;
  border-bottom: none;
  background-image: url(../img/sitemap-horizontal.png);
  background-repeat: no-repeat;
  background-position: left 15px !important;
}
.rtl #listpage_content ul.tree li {
  margin: 0 21px 0 0;
}
.rtl #listpage_content ul.tree li {
  padding: 5px 33px 0 0;
}
.rtl #listpage_content ul.tree li {
  border-right: 1px solid #eeeeee;
  border-left: inherit;
}
.rtl #listpage_content ul.tree li {
  background-position: right 15px !important;
}
#listpage_content ul.tree li a:hover {
  font-weight: bold;
}
#listpage_content ul.tree > li {
  margin: 0 0 0 11px;
}
.rtl #listpage_content ul.tree > li {
  margin: 0 11px 0 0;
}
#listpage_content div.tree_top {
  padding: 5px 0 0 27px;
}
#listpage_content div.tree_top a:before {
  content: "\f015";
  display: inline-block;
  font-family: "FontAwesome";
  font-size: 20px;
}
